<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>Про Flask - {{title}}</title>
    {% else %}
        <title>Про Flask</title>
    {% endif %}


</head>
<body>
    <h1> {{title}} </h1>
    {% if name %}
        <h1>Hello {{name}}!</h1>
    {% else %}
        <h1>Hello World!</h1>
    {% endif %}

    <ul>
        {% for m in menu %}
        <li> {{m}} </li>
        {% endfor %}
    </ul>
</body>
</html>